{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seasonal meal planner</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{% static 'editrecipes/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
        {% block script %}{% endblock %}
    </script>
</head>
<body>
    <aside class="sidebar-nav">
        <ul class="nav flex-column h-100">
            {% for nav_item in nav %}
            <li class="nav-item {% if current_url_name == nav_item.url_name %} active {% endif %}">
                <a class="nav-link" href="{% url nav_item.url_name %}">{{ nav_item.text }}</a>
            </li>
            {% endfor %}
        </ul>
    </aside>
    <div class="container-fluid" style="margin-left: 200px; width: auto">
        <div class="row">
            <div class="col-12">
                <h1 class="mt-2">{% block title %}{% endblock %}</h1>
            </div>
        </div>
        {% block content %}{% endblock %}
        <!--
        {{ sql_queries|length }}
        {% for query in sql_queries %}
            <div class="p-3"><code>{{ query }}</code></div>
        {% endfor %}
        -->
    </div>
</body>
</html>