<table class="table table-striped table-compressed">
    <colgroup>
        <col>
        {% for month in months %}
        {% if month.month == this_month.month %}
        <col class="this_month_col">
        {% else %}
        <col>
        {% endif %}
        {%endfor%}
    </colgroup>
    <tr>
        <th>Ingredient \ Month</th>
        {% for month in months %}
        {% if month.month == this_month %}
            <td bgcolor="lightgrey"; width="5.5%">{{month.month}}</td>
        {% else %}
            <td width="5.5%">{{month.month}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% for ingredient in ingredients %}
    <tr>
        <td>
    {{ingredient.name}}</td>
        {% for month in months %}
            {% if month in ingredient.peak.all %}
                <td bgcolor="green"></td>
            {% elif month in ingredient.seasonal.all %}
                <td bgcolor="lightgreen"></td>
            {% else %}
                {% if month.month == this_month %}
                    <td bgcolor="lightgrey"; width="5.5%"></td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>