<label for = "autocomplete-tag">At most one: </label>
  <input id = "autocomplete-tag">
<!--  <input type="number">
  <select>
    <option value="max">Max</option>
    <option value="min">Min</option>
</select>
<br/>-->

<!--<script>
    $(function() {
      var tags = {{ tags|safe }};
      $("#autocomplete-tag").autocomplete({ source: tags });
      var ingredients = {{ ingredients|safe }};
      $( "#autocomplete-ingredient" ).autocomplete({
         source: ingredients
      });
</script>-->