{% extends 'base.html' %}
{% load static %}

{% block title %}Seasonal recipes{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-12">
        <ul class="nav nav-tabs" id="recipeListTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="inseason-tab"
                   data-toggle="tab" href="#inseason" role="tab"
                   aria-controls="inseason" aria-selected="true">
                    In season
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="alwaysinseason-tab"
                   data-toggle="tab" href="#alwaysinseason" role="tab"
                   aria-controls="alwaysinseason" aria-selected="false">
                    Dishes that always in season
                </a>
            </li>
        </ul>

        <div class="tab-content" id="recipeListTabsContent">
            <div class="tab-pane fade show active" id="inseason" role="tabpanel" aria-labelledby="inseason-tab">
                <ul class="list-group">
                    {% for recipe in seasonal_recipes %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            {% if recipe.just_in %}
                            <img src="{% static 'editrecipes/star.svg' %}" alt="Just in" title="Just in">
                            {% endif %}
                            {% if recipe.last_chance %}
                            <img src="{% static 'editrecipes/clock.svg' %}" alt="Last chance" title="Last chance">
                            {% endif %}

                            <a href="{% url 'recipe' recipe.name %}">{{ recipe.name }}</a>
                        </span>
                        <span class="badge badge-primary badge-pill">
                            {% if recipe.category %}{{recipe.category}}{% endif %}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane fade" id="alwaysinseason" role="tabpanel" aria-labelledby="alwaysinseason-tab">
                {% if always_available_recipes %}
                    <ul class="list-group">
                    {% for recipe in always_available_recipes %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>
                                <a href="{% url 'recipe' recipe.name %}">{{ recipe.name }}</a>
                            </span>
                            <span class="badge badge-primary badge-pill">
                                {% if recipe.category %}{{recipe.category}}{% endif %}
                            </span>
                        </li>
                         {% endfor %}
                    </ul>
                {% else %}
                    <p>Nothing peaking this month.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if clashing_season_recipes %}
    The following recipes require ingredients that are never in season at
the same time:
    <ul>
    {% for recipe in clashing_season_recipes %}
        <li><a href="{% url 'recipe' recipe.name %}">{{ recipe.name }}</a>
            {% if recipe.category %}
            {{recipe.category}}
            {% endif %}
        </li>
         {% endfor %}
    </ul>
{% endif %}

{% endblock %}