{% extends 'base.html' %}
{% load static %}

{% block script %}
<script type="text/javascript" src="{% static 'editrecipes/scripts/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'editrecipes/scripts/planweek.js' %}"></script>
<script type="text/javascript" src="{% static 'editrecipes/scripts/knockoutjs-drag-n-drop.js' %}"></script>
{{ guests|json_script:"guests-data" }}
{{ tags|json_script:"tags-data" }}
<script type="text/javascript">
  $(function() {
    setupDatePickers();
    plan = new WeekPlan("{% url 'generate_menu' %}");
    ko.applyBindings(plan);
  });
</script>
{% endblock %}

{% block title %}Plan week{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div data-bind="using: fromDate">
            <label for="from">From</label>
            <input type="text" id="from" name="from" data-bind="value: text">
        </div>
        <div data-bind="using: toDate">
            <label for="to">to</label>
            <input type="text" id="to" name="to" data-bind="value: text">
        </div>
    </div>
</div>

<div class="row">
    <div class="row mt-5">
        <div class="col-12">
            <table class="table">
                <tr>
                    <th></th>
                    <th>People</th>
                    <th>Make in advance?</th>
                    <th>Max time</th>
                    <th>Meal</th>
                </tr>
                <tbody data-bind="foreach: days">
                <tr data-bind="drop: { value: latestGuest }">
                    <td data-bind="text: name"></td>
                    <td>
                        <ul data-bind="foreach: guests" class="list-inline">
                            <li class="list-inline-item">
                                <span data-bind="text: dinerName"></span>
                                <button type="button" class="btn btn-light" data-bind="click: $parent.removeGuest">X
                                </button>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <input type="checkbox" data-bind="checked: preprepared" />
                    </td>
                    <td>
                        <input type="text" data-bind="text: maxTime"/>
                    </td>
                    <td data-bind="using: recipe">
                        <span data-bind="text: name"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- All guests - drag from here -->

<div class="row">
    <div class="col-12 mt-3">
        <h2>People</h2>
        <ul data-bind="foreach: people" class="list-inline">
            <li class="list-inline-item" data-bind="text: dinerName, drag: { value: $data }"></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-3">
        <h2>Constraints</h2>
    </div>
</div>

<div data-bind="using: mostRecent">
            <label for="from">Don't show meals we've had since</label>
            <input type="text" id="mostRecent" name="mostRecent" data-bind="value: text">
        </div>

<div class="row">
    <div class="col-6 col-lg-3">
        <p>Maximum one per week of...</p>
        <select data-bind="options: maxTags, selectedOptions: chosenMaxTags, optionsText: 'name'"
                multiple="true"></select>
    </div>
    <div class="col-6 col-lg-3">
        <p>Minimum one per week of...</p>
        <select data-bind="options: minTags, selectedOptions: chosenMinTags, optionsText: 'name'"
                multiple="true"></select>
    </div>
</div>

<!--include "tag-constraint.html" -->
<!--         <label for = "autocomplete-ingredient">Use up ingredients: </label>
          <input id = "autocomplete-ingredient">
          <label for = "autocomplete-ingredient-2">Consider ingredients: </label>
          <input id = "autocomplete-ingredient-2">
        -->
{% endblock %}