{% extends 'base.html' %}
{% load static %}

{% block script %}
<script type="text/javascript" src="{% static 'editrecipes/scripts/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'editrecipes/scripts/planweek.js' %}"></script>
<script type="text/javascript" src="{% static 'editrecipes/scripts/knockoutjs-drag-n-drop.js' %}"></script>
<script type="text/javascript" src="{% static 'editrecipes/scripts/knockoutjs-autocomplete.js' %}"></script>
{{ guests|json_script:"guests-data" }}
<script type="text/javascript">
  $(function() {
    setupDatePickers();
    ko.applyBindings(new WeekPlan());
  });
</script>
{% endblock %}

{% block title %}Plan week{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <label for="from">From</label>
        <input type="text" id="from" name="from" data-bind="value: fromDate.text">
        <label for="to">to</label>
        <input type="text" id="to" name="to" data-bind="value: toDate.text">
    </div>
</div>


<div class="row">
    <div class="row mt-5">
        <div class="col-12">
            <table class="table">
                <tr>
                    <th></th>
                    <th>People</th>
                    <th>Meal</th>
                </tr>
                <tbody data-bind="foreach: days">
                <tr data-bind="drop: { value: latestGuest }">
                    <td data-bind="text: name"></td>
                    <td>
                        <ul data-bind="foreach: guests" class="list-inline">
                            <li class="list-inline-item">
                                <span data-bind="text: dinerName"></span>
                                <button type="button" class="btn btn-light" data-bind="click: $parent.removeGuest">X</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- All guests - drag from here -->
    <div class="col-12 mt-3">
        <h2>People</h2>
        <ul data-bind="foreach: people" class="list-inline">
            <li class="list-inline-item" data-bind="text: dinerName, drag: { value: $data }"></li>
        </ul>
    </div>

    <div class="col-12 mt-3">
        <h2>Constraints</h2>
        <ul data-bind="foreach: tags" class="list-inline" id="max_once">
            <li class="list-inline-item">At most one:<span data-bind="text: label"></span></li>
        </ul>
        {% include "tag-constraint.html" %}


        <!--  <label for = "autocomplete-ingredient">Use up ingredients: </label>
          <input id = "autocomplete-ingredient">
          <label for = "autocomplete-ingredient-2">Consider ingredients: </label>
          <input id = "autocomplete-ingredient-2">
        -->
    </div>
</div>

    <div>
        [Additional per-meal requirements e.g. cooking time; to be added later, currently no info in meal planner]
    </div>
    <button>Generate menu</button>
    [Button - select randomly correct quantity of meals that meet requirements]
    <div>
        [Display results]
    </div>
    {% endblock %}