<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form method="get">
    <input type="text" name="ingredient"/>
    <button type="submit">Search</button>
</form>
{% if recipes %}
    {% for ingredient, recipes in recipes.items %}
        Recipes with {{ingredient}}:
        <ul>
        {% for recipe in recipes %}
        <li><a href="{% url 'recipe' recipe.name %}">{{ recipe.name }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
</body>
</html>