{% extends 'base.html' %}

{% block title %}{{ sidedish.name }}{% endblock %}

{% block content %}
    <ul>
        {% for ingredient in sidedish.ingredients.all %}
        <li>{{ingredient.name}}</li>
        {% endfor %}
    </ul>

    In season in {{this_month.name}} are:
    <ul>
        {% for ingredient in seasonal %}
        <li>{{ingredient.name}}</li>
        {% endfor %}
    </ul>

    {% include "ingredients-month.html" with ingredients=sidedish.ingredients.all%}
{% endblock %}